html {
    /* background-color: #d3f5ff;
    overflow: hidden;
    */
}

#ws-local-status {
    font-weight: bold;
}

#ws-remote-status {
    font-weight: bold;    
}

#log {
    background: white;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 3em;
    overflow: auto;
}
